/**FONTS**/

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titre {
  text-align: center;
}

.titre h1 {
  margin-bottom: 0rem;
  font-size: 5.5rem;
}

.titre h2 {
  margin: 0;
  font-weight: bolder;
  font-size: 5rem;
  color: var(--special-color);
}

.titre div {
  margin: 0;
  border-bottom: 2px solid var(--special-color);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.titre h5 {
  font-family: var(--second-font-family);
  color: var(--primary-color);
  margin: 1rem;
  font-size: 1.2rem;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/**CSS BODY**/

:root {
  --primary-color: #D9C7F3;
  --special-color: #b08fe0;
  --secondary-color: #fff4f4;
  --third-color: #D5E1F2;
  --fourth-color: #FFDEEA;
  --fivth-color: #fff5c3;
  --text-color: black;
  --font-family: 'Bebas Neue';
  --second-font-family: 'Roboto';
}

body {
  font-family: var(--font-family);
  width: 100%;
  height: auto;
  margin: 0;
}

/**HEADER**/

header {
  background-color: var(--special-color);
  padding: 1rem 2rem;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.5rem;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .logo-circle {
  width: 50px;
  height: 50px;
  background-color: #999;
  border-radius: 50%;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}

.nav-menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-menu a:hover::after {
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 5rem;
}

.socials img {
  width: 40px;
  height: 40px;
  display: inline-block;
  transition: transform 0.3s;
}

.socials img:hover {
  filter: drop-shadow(0 0px 12px rgba(0, 0, 0, 0.3));
  transform: scale(1.15);
  transition: transform 0.3s;
}

.socials li {
  list-style: none;
}

.cv-button {
  background-color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--special-color);
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-family);
  font-size: 1.2rem;
}

.cv-button:hover {
  background-color: var(--fourth-color);
  color: var(--special-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/**MAIN**/

main {
  margin-top: -10rem;
  align-items: center;
  text-align: center;
  margin-bottom: -5rem;
}

h1 {
  text-align: center;
  font-size: 22rem;
  color: var(--primary-color);
  text-shadow:
    4px 4px 0 var(--special-color),
    8px 8px 0 var(--fourth-color);
}

main img {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -35rem;
  margin-bottom: 4rem;
}

main h3,
main h4 {
  font-weight: normal;
  font-size: 2rem;
  color: var(--special-color);
}

main h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

main a {
  text-decoration: transparent;
  color: var(--special-color);
  font-weight: bolder;
  transition: color 0.3s ease;
}

main a:hover {
  color: var(--fourth-color);
  font-weight: bolder;
  text-decoration: transparent;
  transition: color 0.3s ease;
}

.texte {
  background-color: white;
  text-align: center;
  width: 80rem;
  height: 20rem;
  position: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;

}

/**FOOTER**/

footer {
  background-color: var(--special-color);
  padding: 3.5rem 0rem;
  font-family: var(--second-font-family);
  color: white;
  font-weight: bolder;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left .logo-circle {
  width: 150px;
  height: 150px;
  background-color: var(--fourth-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 12rem;
  margin-top: 1rem;
}

.footer-center {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-left: 24rem;
}

.footer-center div {
  margin-left: 11rem;
}

.footer-center div:last-of-type {
  margin-right: 12rem;
}

.footer-center h3 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.footer-center a {
  text-decoration: none;
  color: white;
}

.footer-center form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-center input,
.footer-center button {
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
}

.footer-center input[type="text"] {
  background-color: white;
}

.footer-center input[type="email"] {
  background-color: var(--fourth-color);
}

.footer-center button {
  background-color: var(--third-color);
  color: white;
  cursor: pointer;
}

.footer-center img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.footer-bottom {
  margin-top: 2rem;
  text-align: center;
}

.footer-bottom hr {
  border: none;
  border-top: 1.2px;
  width: 65%;
  color: 5px solid white;
}

.footer-bottom p {
  margin-top: 1.5rem;

}

.logo-footer{
  width: 220px;
  height: auto;
  position: absolute;
  margin-left: 9rem;
  margin-top: 2rem;
}

.logo-circle{
    transition: transform 0.3s;
}

.logo-circle:hover{
  filter: drop-shadow(0 0px 12px rgba(0, 0, 0, 0.3));
  transform: scale(1.15) rotate(15deg);
  transition: transform 0.3s;
}